ConsoleApplication1/ConsoleApplication1/Service References/ServiceReference1/ConsoleApplication1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ConsoleApplication1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ConsoleApplication1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="CompositeType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CompositeHelper">
        <xs:sequence>
          <xs:element minOccurs="0" name="ХерПойми" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="CompositeHelper">
    <xs:sequence>
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeHelper" nillable="true" type="tns:CompositeHelper" />
  <xs:complexType name="Contact">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddedProp" nillable="true" type="xs:string" />
      <xs:element name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contact" nillable="true" type="tns:Contact" />
  <xs:simpleType name="UserStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Не забаненный">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UserStatus" nillable="true" type="tns:UserStatus" />
  <xs:complexType name="MyintClassOf">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="My{0}{#}ClassOf" Namespace="http://schemas.datacontract.org/2004/07/ConsoleApplication1" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Member" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyintClassOf" nillable="true" type="tns:MyintClassOf" />
  <xs:complexType name="MystringClassOf">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="My{0}{#}ClassOf" Namespace="http://schemas.datacontract.org/2004/07/ConsoleApplication1" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Member" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MystringClassOf" nillable="true" type="tns:MystringClassOf" />
  <xs:complexType name="MyContactqWdCJ8gtClassOf">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="My{0}{#}ClassOf" Namespace="http://schemas.datacontract.org/2004/07/ConsoleApplication1" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Contact" Namespace="http://schemas.datacontract.org/2004/07/ConsoleApplication1" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Member" nillable="true" type="tns:Contact" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyContactqWdCJ8gtClassOf" nillable="true" type="tns:MyContactqWdCJ8gtClassOf" />
  <xs:complexType name="MyPersonqWdCJ8gtClassOf">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="My{0}{#}ClassOf" Namespace="http://schemas.datacontract.org/2004/07/ConsoleApplication1" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Person" Namespace="http://schemas.datacontract.org/2004/07/ConsoleApplication1" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Member" nillable="true" type="tns:Person" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyPersonqWdCJ8gtClassOf" nillable="true" type="tns:MyPersonqWdCJ8gtClassOf" />
  <xs:complexType name="Person">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Person" nillable="true" type="tns:Person" />
</xs:schema>