ConsoleApplication1/ConsoleApplication1/Service References/ServiceReference1/ConsoleApplication1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ConsoleApplication1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ConsoleApplication1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CompositeHelper">
        <xs:sequence>
          <xs:element minOccurs="0" name="ХерПойми" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="CompositeHelper">
    <xs:sequence>
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeHelper" nillable="true" type="tns:CompositeHelper" />
  <xs:complexType name="ArrayOfColor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Color" nillable="true" type="tns:Color" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfColor" nillable="true" type="tns:ArrayOfColor" />
  <xs:complexType name="Color">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Color" nillable="true" type="tns:Color" />
</xs:schema>