ConsoleApplication1/ConsoleApplication1/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ConsoleApplication1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetDataWithService2_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataWithService2" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataWithService2_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataWithService2Response" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSimpleProperty_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSimpleProperty" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSimpleProperty_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSimplePropertyResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataDouble_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataDouble" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataDouble_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataDoubleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract1_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract1" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract1_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract1Response" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPersonContact_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonContact" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPersonContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonContactResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetDataWithService2">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/GetDataWithService2" message="tns:IService1_GetDataWithService2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/GetDataWithService2Response" message="tns:IService1_GetDataWithService2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSimpleProperty">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetSimpleProperty" message="tns:IService1_GetSimpleProperty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetSimplePropertyResponse" message="tns:IService1_GetSimpleProperty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataDouble">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataDouble" message="tns:IService1_GetDataDouble_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataDoubleResponse" message="tns:IService1_GetDataDouble_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract1">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract1" message="tns:IService1_GetDataUsingDataContract1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract1Response" message="tns:IService1_GetDataUsingDataContract1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPersonContact" message="tns:IService1_GetPersonContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPersonContactResponse" message="tns:IService1_GetPersonContact_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDataWithService2">
      <soap:operation soapAction="http://tempuri.org/IService2/GetDataWithService2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSimpleProperty">
      <soap:operation soapAction="http://tempuri.org/IService1/GetSimpleProperty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataDouble">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataDouble" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract1">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonContact">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPersonContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/trololo/blin" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>